.crystal {
  @include size(100vw, 100vh);
  @include flex();
  align-items: center;
  justify-content: center;

  &__figure {
    @include size(20vw, 20vw);
    transform: rotate(45deg);
    background-color: $primary;
    position: relative;
    top: -3vw;
    left: 5vw;
    z-index: 1;
    user-select: none;
    cursor: default;

    &_block {
      @include size(100%, 100%);
      overflow: hidden;

      &-content {
        @include size(100%, 100%);
        @include flex();
        align-items: center;
        justify-content: center;
        transform: rotate(-45deg);
        text-align: center;
        padding-top: 4vw;

        &:after {
          content: "Go!";
          @include size(40vw, 100%);
          font-size: 18vw;
          color: $white;
          animation: go 6s linear infinite;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          &:after {
            @include size(40vw, 100%);
            font-size: 18vw;
            margin-top: 4vw;
            transform: translate(-14%, 0);
          }
        }
      }
    }
  }

  &__knife {
    @include size(30vw, 22vw);
    overflow: hidden;
  }

  &__background {
    @include size(100vw, 100vh);
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    transition: background .5s ease;
  }
}

.crystal__figure.active:hover {
  cursor: pointer;

  & + .crystal__background {
    background: $yellow;
  }
}

//Only Chrome, Opera, Mozilla
@keyframes go {
  0% {
    content: 'Go!';
  }
  60% {
    content: 'Go!';
  }
  70% {
    content: '1';
  }
  80% {
    content: '2';
  }
  90% {
    content: '3';
  }
}
