@mixin flex($flex-direction: row, $flex-wrap: nowrap, $flex-display: flex) {
  display: $flex-display;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin size($width, $height: null) {
  width: $width;
  height: $height;
}
