<template>
  <div class="crystal">
    <div class="crystal__knife">
      <div class="crystal__figure"
           v-on:click="Go"
           :class="isActive ? 'active' : ''">
        <div class="crystal__figure_block">
          <div class="crystal__figure_block-content"></div>
        </div>
      </div>
      <div class="crystal__background"></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Crystal",
    data() {
      return {
        isActive: false
      }
    },
    methods: {
      Go() {
        this.isActive = !this.isActive;
      }
    }
  }
</script>
