<template>
  <div id="app">
    <div class="wrapper">
      <Crystal/>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss" typeof="text/scss">
  @import "assets/style/main.scss";
</style>

<script>
  import Crystal from "./components/Crystal";

  export default {
    components: {Crystal}
  }
</script>
